.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li{class: is_active?('prototypes/popular'), role: "presentation"}
          = link_to "Popular PROTO", popular_index_path
        %li{class: is_active?('prototypes'), role: "presentation"}
          = link_to "Newest PROTO", root_path
      = link_to 'View Tags', tags_path, type: "button", class: "btn btn-default col-lg-1"
